---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=9d6e4a352579640f801028cdd9e9fa75bf16eccf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1481163754'
      Etag:
      - W/"8734030c9ace03111ebfb55bfb6d8bbb"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?access_token=9d6e4a352579640f801028cdd9e9fa75bf16eccf&page=2>;
        rel="next", <https://api.github.com/user/repos?access_token=9d6e4a352579640f801028cdd9e9fa75bf16eccf&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":70079203,"name":"active-record-sinatra","full_name":"alishersadikov/active-record-sinatra","owner":{"login":"alishersadikov","id":18390711,"avatar_url":"https://avatars.githubusercontent.com/u/18390711?v=3","gravatar_id":"","url":"https://api.github.com/users/alishersadikov","html_url":"https://github.com/alishersadikov","followers_url":"https://api.github.com/users/alishersadikov/followers","following_url":"https://api.github.com/users/alishersadikov/following{/other_user}","gists_url":"https://api.github.com/users/alishersadikov/gists{/gist_id}","starred_url":"https://api.github.com/users/alishersadikov/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alishersadikov/subscriptions","organizations_url":"https://api.github.com/users/alishersadikov/orgs","repos_url":"https://api.github.com/users/alishersadikov/repos","events_url":"https://api.github.com/users/alishersadikov/events{/privacy}","received_events_url":"https://api.github.com/users/alishersadikov/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/alishersadikov/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/alishersadikov/active-record-sinatra","forks_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/releases{/id}","deployments_url":"https://api.github.com/repos/alishersadikov/active-record-sinatra/deployments","created_at":"2016-10-05T16:39:42Z","updated_at":"2016-10-06T19:48:55Z","pushed_at":"2016-10-06T08:18:52Z","git_url":"git://github.com/alishersadikov/active-record-sinatra.git","ssh_url":"git@github.com:alishersadikov/active-record-sinatra.git","clone_url":"https://github.com/alishersadikov/active-record-sinatra.git","svn_url":"https://github.com/alishersadikov/active-record-sinatra","homepage":null,"size":31,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":72943345,"name":"alishersadikov.github.io","full_name":"alishersadikov/alishersadikov.github.io","owner":{"login":"alishersadikov","id":18390711,"avatar_url":"https://avatars.githubusercontent.com/u/18390711?v=3","gravatar_id":"","url":"https://api.github.com/users/alishersadikov","html_url":"https://github.com/alishersadikov","followers_url":"https://api.github.com/users/alishersadikov/followers","following_url":"https://api.github.com/users/alishersadikov/following{/other_user}","[...]
